<style>
    #dataTable tr td{
        color: #000;
    }
</style>

<div class="content wrap">
   <div style="width:600px; margin: 0 auto;">
   <h3 style="text-align: center; margin-bottom: 10px;"> - 자 유 게 시 판 - </h3>
   <table border="1" align="center" id="dataTable">
       <tr>
           <th width="100">글 번호</th> <td id="number" width="200"><%= data.WRITE_NO %></td> 
           <th width="100">작성자</th>  <td width="200"><%= data.ID %></td>
       </tr>
       <tr>
           <th>제목</th> <td><%= data.TITLE %></td> 
           <th>등록일자</th> <td><%= data.SAVE_DATE %></td>
       </tr>
       <tr>
           <th>내용</th><td id="dataContent"><%= data.CONTENT %></td> 
           <td colspan="2">
               <% if( data.ORIGIN_FILE_NAME === "nan"){%>
                   <b>이미지가 없습니다
               <%}else{%>
                   <b>이미지 : <%=data.ORIGIN_FILE_NAME%> </b>
                   <br>
                   <img src="/board/download/<%=data.CHANGE_FILE_NAME%>" width="100px" height="100px">
               <%}%>
           </td>
       </tr>
       <tr>
           <td colspan="4" align="center">
               <%if(username === data.ID){%>
                   <!-- 작성자와 로그인 사용자 일치 여부 확인 후
                   일치한다면 수정 및 삭제를 구현하고 아니면 구현하지 않는다. -->
                   <input type="button" onclick="
                   location.href=`/board/modify_form/<%=data.WRITE_NO%>`" value="수정하기"> 
                   <input type="button" onclick="deleteboard('<%= data.WRITE_NO %>')" value="삭제하기">
                   
                   <!-- 데이터를 넘겨줄 때 이미지 이름과 글 번호를 넘겨준다. -->
               <%}%>
               <input type="button" onclick="reply_form()" value="답글달기"> 
               <input type="button" onclick="board()" value="리스트로 돌아가기">
           </td>
       </tr>
       <!-- 사용자들이 달아놓은 답글 확인 -->
       <tr>
           <td colspan="4" id="content">

           </td>
       </tr>
       </table>
   </div>
   <script>
      
   </script>
  
</div>
<script src="../../../config/js/fun.js"></script>
<% if (data.CONTENT) { %>
    <script>
        const content = document.getElementById("dataContent");
        content.innerHTML = `<%- data.CONTENT %>`;
    </script>
<% } %>
